{% if tasks %}
    <ul>
    {% for task in tasks %}
        <li>{{ task.title }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No task are available yet. Go to admin panel to create one.</p>
{% endif %}
